@model CourseManager.Models.Websiteinfo
@using CourseManager.Models
@{
     ViewBag.Title = "主页";
     var siteInfoFromView =(Websiteinfo) ViewBag.siteInfo;
     var siteInfoFromData = (Websiteinfo)ViewData["SiteInfo"];
     var name = "GOGOGO";
      
}
@using (Html.BeginForm("", "", FormMethod.Get))
{ 
    @Html.Password("Passwd")
      @Html.ActionLink("Home","Home")
}
@Html.Partial("MyNamePartialView")
<h1>fsa @name</h1>


